*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    text-decoration: underline;
    font-family: monospace;

}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 20rem;
    
}
.list{
    display: grid;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.812);
   
    
}
.box{
    outline: solid rgb(9, 237, 9);
}
button{
    border-radius: 2rem;
    background-color: rgba(238, 9, 9, 0.812);
    font-family: cursive;
}
button:hover{
    background-color: rgba(0, 128, 0, 0.851);
    transition: 2s;
}

    
body{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}