.header{
    text-decoration: underline;
    font-family: monospace;

}
.container{
    display: grid;
    justify-content: center;
    background-color: grey;
    margin-top: 50vh;
    
}
#list{
    display: grid;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.812);

}
.box{
    outline: solid rgb(9, 237, 9);
}
button{
    border-radius: 2rem;
    background-color: rgba(238, 9, 9, 0.812);
    font-family: cursive;
}